<template>
  <section class="section-about" id="about">
      <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
              About Icodeai
          </h2>
      </div>

      <div class="row">
          <div class="col-1-of-2">
              <h3 class="heading-tertiary u-margin-bottom-small">Unlocking the power of machine learning</h3>
              <p class="paragraph">
                  At IcodeAI we are dedicated to making the power of machine learning accessible to all. Machine learning
                  is dramatically improving medicine, education, agriculture, transport and many other fields,
                  with the greatest potential impact in the developing world. For its full potential to be met,
                  the technology needs to be much easier to use, more reliable, and more intuitive than it is today.
              </p>

              <h3 class="heading-tertiary u-margin-bottom-small">Developing a complete educational framework</h3>
              <p class="paragraph">
                Our research lab is a center of creating machine learning and deep learning solutions taking them to
                market based research of different sectors from around Africa and the globe.
              </p>

              <h3 class="heading-tertiary u-margin-bottom-small">On Demand Data Science and Machine Learning Bootcamps</h3>
              <p class="paragraph">
                Our bootcamps are held weekly (Weekends) in Nairobi over a period of 6 months we make the bootcamp affordable
                and the brilliant minds selected to join our research lab.
              </p>

              <a href="#features" class="btn-text">Learn more &rarr;</a>
          </div>
          <div class="col-1-of-2">
              <div class="composition">

                  <img srcset="https://image.ibb.co/jJZPr7/ai.png 300w, https://image.ibb.co/jJZPr7/ai.png 1000w"
                        sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                        alt="Photo 1"
                        class="composition__photo composition__photo--p1"
                        src="https://image.ibb.co/jJZPr7/ai.png">

                  <img srcset="https://image.ibb.co/cOnfg7/databoard_r2_c2c.png 300w, https://image.ibb.co/cOnfg7/databoard_r2_c2c.png 1000w"
                        sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                        alt="Photo 2"
                        class="composition__photo composition__photo--p2"
                        src="https://image.ibb.co/cOnfg7/databoard_r2_c2c.png">

                  <img srcset="https://image.ibb.co/h3xJZS/face_recognition_dribbble.png 300w, https://image.ibb.co/h3xJZS/face_recognition_dribbble.png 1000w"
                        sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                        alt="Photo 3"
                        class="composition__photo composition__photo--p3"
                        src="https://image.ibb.co/h3xJZS/face_recognition_dribbble.png">

                  <!--
                  <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                  <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                  <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                  -->
              </div>
          </div>
      </div>
  </section>
</template>
