<template>
  <section class="section-book" id="booking">
      <div class="row">
          <div class="book">
              <div class="book__form">
                  <form action="https://formspree.io/allankiplangat22@outlook.com" class="form" method="POST">
                      <div class="u-margin-bottom-medium">
                          <h2 class="heading-secondary">
                              Start booking now
                          </h2>
                      </div>

                      <div class="form__group">
                          <input type="text" class="form__input" placeholder="Full name" name="Full Names" id="name" required>
                          <label for="name" class="form__label">Full name</label>
                      </div>

                      <div class="form__group">
                          <input type="number" class="form__input" placeholder="Mobile number" name="phone_numer" id="number" required>
                          <label for="number" class="form__label">Mobile number</label>
                      </div>

                      <div class="form__group">
                          <input type="email" class="form__input" placeholder="Email address" name="email_address" id="email" required>
                          <label for="email" class="form__label">Email address</label>
                      </div>

                      <div class="form__group u-margin-bottom-medium">
                          <div class="form__radio-group">
                              <input type="radio" class="form__radio-input" id="small" name="data_science">
                              <label for="small" class="form__radio-label">
                                  <span class="form__radio-button"></span>
                                  Data Science
                              </label>
                          </div>

                          <div class="form__radio-group">
                              <input type="radio" class="form__radio-input" id="large" name="machine_learning">
                              <label for="large" class="form__radio-label">
                                  <span class="form__radio-button"></span>
                                  Machine Learning
                              </label>
                          </div>
                      </div>

                      <div class="form__group">
                          <button class="btn btn--green">Submit &rarr;</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
</template>
