<template>
  <footer class="footer">
    <div class="footer__logo-box">
      <img src="https://image.ibb.co/gEo8Tc/logo_white.png" alt="full logo" class="footer__logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Paths</a></li>
            <li class="footer__item"><a href="#" class="footer__link">carrers</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <div class="footer__copyright">
          <a href="#" class="footer__link">IcodeAI</a> Weekly Data Science, Machine Learning and Deep Learning Bootcamps
        </div>
      </div>
    </div>
  </footer>
</template>
