<template>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <title>IcodeAI | On demand Datascience, Machine Learning & Deep Learning Bootcamps</title>
    </head>
</template>
