<template>
    <header class="header">
        <div class="header__logo-box">
            <img src="https://image.ibb.co/gEo8Tc/logo_white.png" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">IcodeAI</span>
                <span class="heading-primary--sub">Be a creator of AI</span>
            </h1>

            <a href="#section-tours" class="btn btn--white btn--animated">Discover Paths</a>
        </div>
    </header>
</template>
