<template>
  <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

      <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
          <ul class="navigation__list">
              <li class="navigation__item"><a href="#about" class="navigation__link"><span>01</span>About IcodeAI</a></li>
              <li class="navigation__item"><a href="#features" class="navigation__link"><span>02</span>Learn More</a></li>
              <li class="navigation__item"><a href="#section-tours" class="navigation__link"><span>03</span>Paths</a></li>
              <li class="navigation__item"><a href="#booking" class="navigation__link"><span>05</span>Book now</a></li>
              </ul>
      </nav>
  </div>
</template>
