<template>
  <section class="section-tours" id="section-tours">
      <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
              Bootcamp Pricing
          </h2>
      </div>

      <div class="row">
          <div class="col-1-of-3">
              <div class="card">
                  <div class="card__side card__side--front">
                      <div class="card__picture card__picture--1">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">Data Science Path</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Data Cleaning and Preparation</li>
                              <li>Data Visualization</li>
                              <li>Data Modelling</li>
                              <li>Data curve-fit</li>
                              <li>Presentation of the findings</li>
                          </ul>
                      </div>
                  </div>
                  <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-only">Only</p>
                              <p class="card__price-value">Ksh 500</p>
                          </div>
                          <a href="#booking" class="btn btn--white">Book now!</a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-1-of-3">
              <div class="card">
                  <div class="card__side card__side--front">
                      <div class="card__picture card__picture--2">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--2">Machine Learning Path</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Regression</li>
                              <li>Classification & clustering</li>
                              <li>Reinforcement Learning</li>
                              <li>Association Rule Learning</li>
                              <li>nlp & Dimentionality reduction</li>
                          </ul>
                      </div>

                  </div>
                  <div class="card__side card__side--back card__side--back-2">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-only">Only</p>
                              <p class="card__price-value">Ksh 700</p>
                          </div>
                          <a href="#booking" class="btn btn--white">Book now!</a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-1-of-3">
              <div class="card">
                  <div class="card__side card__side--front">
                      <div class="card__picture card__picture--3">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--3">Deep Learning Path</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Artificial Neural Networks</li>
                              <li>Convolution Neural Networks</li>
                              <li>Recurrent Neural Networks	</li>
                              <li>Generative adversarial Network</li>
                              <li>AutoEncoders</li>
                          </ul>
                      </div>

                  </div>
                  <div class="card__side card__side--back card__side--back-3">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-only">Only</p>
                              <p class="card__price-value">Ksh 900</p>
                          </div>
                          <a href="#booking" class="btn btn--white">Book now!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="u-center-text u-margin-top-huge">
          <a href="#section-tours" class="btn btn--green">Discover all paths</a>
      </div>
  </section>
</template>
