<template>
  <section class="section-features" id="features">

      <div class="row">
          <div class="col-1-of-4">
              <div class="feature-box">
                  <i class="feature-box__icon icon-basic-world"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">Python Programming</h3>
                  <p class="feature-box__text">
                     Python For Data Analytics And Data Science. Learn Statistical Analysis, Data Mining And Visualization
                  </p>
              </div>
          </div>

          <div class="col-1-of-4">
              <div class="feature-box">
                  <i class="feature-box__icon icon-basic-compass"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">Data Science</h3>
                  <p class="feature-box__text">
                      Learn Data Science step by step through real Analytics examples. Data Mining, Modeling, Tableau Visualization and more!
                  </p>
              </div>
          </div>

          <div class="col-1-of-4">
              <div class="feature-box">
                  <i class="feature-box__icon icon-basic-map"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">Machine Learning</h3>
                    <p class="feature-box__text">
                      We will walk you step-by-step into the World of Machine Learning on your way to master and tackle any machine learning problem.
                  </p>
              </div>
          </div>

          <div class="col-1-of-4">
              <div class="feature-box">
                  <i class="feature-box__icon icon-basic-heart"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">Deep Learning</h3>
                  <p class="feature-box__text">
                      Learn to create Deep Learning Algorithms in Python and get a chance to join the best of our deeplearning reseach team
                  </p>
              </div>
          </div>
      </div>
  </section>
</template>
