<template>
    <html lang="en">
      <app-header></app-header>
      <main>
<<<<<<< HEAD
        <app-menu></app-menu>
=======
>>>>>>> d2066c08b3a3ddff9ce45d7d3917fbde819a2b51
        <app-about></app-about>
        <app-feature></app-feature>
        <app-pricing></app-pricing>
        <app-book></app-book>
      </main>
      <app-footer></app-footer>
      <app-popup></app-popup>
    </html>
</template>
<script>
  import AppHead from './AppHead.vue'
  import AppHeader from './AppHeader.vue'
  import Grids from './Grids.vue'
  import AboutSection from './AboutSection.vue'
  import FeatureSection from './FeatureSection.vue'
  import AppPricing from './AppPricing.vue'
  import AppBook from './AppBook.vue'
  import AppFooter from './AppFooter.vue'
<<<<<<< HEAD
  import AppMenu from './AppMenu.vue'
  import AppPopup from './AppPopup.vue'
  export default{
    components: {
      'app-menu': AppMenu,
=======
  import AppPopup from './AppPopup.vue'
  export default{
    components: {
>>>>>>> d2066c08b3a3ddff9ce45d7d3917fbde819a2b51
      'app-head': AppHead,
      'app-header': AppHeader,
      'app-grids': Grids,
      'app-about': AboutSection,
      'app-feature': FeatureSection,
      'app-pricing': AppPricing,
      'app-book': AppBook,
      'app-footer': AppFooter,
      'app-popup': AppPopup
    }
  }
</script>
<style src="../sass/main.scss"></style>


