<template>
    <html lang="en">
      <app-header></app-header>
      <main>
        <app-about></app-about>
        <app-feature></app-feature>
        <app-pricing></app-pricing>
        <app-book></app-book>
      </main>
      <app-footer></app-footer>
      <app-popup></app-popup>
    </html>
</template>
<script>
  import AppHead from './components/AppHead.vue'
  import AppHeader from './components/AppHeader.vue'
  import Grids from './components/Grids.vue'
  import AboutSection from './components/AboutSection.vue'
  import FeatureSection from './components/FeatureSection.vue'
  import AppPricing from './components/AppPricing.vue'
  import AppBook from './components/AppBook.vue'
  import AppFooter from './components/AppFooter.vue'
  import AppMenu from './components/AppMenu.vue'
  import AppPopup from './components/AppPopup.vue'
  export default{
    components: {
      'app-menu': AppMenu,
      'app-head': AppHead,
      'app-header': AppHeader,
      'app-grids': Grids,
      'app-about': AboutSection,
      'app-feature': FeatureSection,
      'app-pricing': AppPricing,
      'app-book': AppBook,
      'app-footer': AppFooter,
      'app-popup': AppPopup
    }
  }
</script>
<style lang="scss" src="./sass/main.scss"></style>


